@font-face {
  font-family: anzo1;
  src: url(./assets/anzo1.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/anzo2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/anzo3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(./assets/anzo4.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities