

@font-face {
  font-family: 'CustomFont'; /* Name your font family */
  src: url(./assets/Roboto-Medium.ttf); /* Locate the .ttf file within your directory*/
}

*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: CustomFont;
}
html,
body {
  background-color: #000000;
  color: #ffffff;
  height:100% ;
  width: 100%;
}